{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    {% include 'includes/head_refrences.html' %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body class="body">
    <div class="loading-screen">
      <div class="loading-icon">
        <img
          src="{% static 'img/k1s_logo.png' %}"
          alt="Your Logo"
          class="logo"
        />
      </div>
    </div>

    {% include 'includes/header.html' %}


    {% block content %}



    {% endblock %}
    
    
    {% include 'includes/footer.html' %}
  <script src="{% static 'js/main.js' %}" defer></script>
  </body>
</html>
